@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims;


<div  class="border-r-[1px] border-indigo-800 h-[91vh] w-[70vw] mr-auto" >
    <div class="border-b-[1px] pt-4 border-indigo-800 pl-5"><h1 class=" text-black my-[10px] font-bold text-3xl">Home</h1></div>
    <div class="border-b-[1px] border-indigo-800 py-4">
        <h2 class="text-xl ml-4  text-black font-bold">ABOUT</h2>
        <p class="text-lg mx-4 w-[95%]">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies enim quis luctus cursus. Praesent libero diam,
            convallis at vestibulum in, consectetur ut ipsum. Cras quis lacus id justo dictum varius. Phasellus vitae tincidunt dolor,
            ultrices dignissim odio. Nam eget orci eget libero faucibus feugiat. Praesent eu erat sed risus vulputate convallis quis quis
            lectus. Mauris sit amet sapien eu magna bibendum auctor. Donec sit amet quam quis felis pharetra suscipit. Quisque consequat
            hendrerit nisi ac semper. Ut ac augue convallis, iaculis nisi quis, varius urna. Aliquam quis nisi pharetra nibh gravida iaculis.
            Praesent a mauris ut orci mattis euismod. Donec porta et ante et tempor. Nunc tellus metus, consectetur eu sollicitudin imperdiet,
            suscipit a massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eros ipsum, interdum
            sed finibus eu, semper ac purus. Curabitur vitae justo at sapien facilisis posuere sed quis quam. Morbi accumsan vulputate commodo.
            Morbi odio turpis, posuere bibendum magna molestie, cursus fringilla lacus. Aliquam commodo lacus ac dapibus lobortis. Nullam fermentum
            ex at lorem mattis vestibulum.
        </p>
     </div>
    <div class="border-b-[1px] border-indigo-800 py-4">
        <h2 class="text-xl ml-4 text-black font-bold">WHY US</h2>
        <p class="text-lg mx-4 w-[95%]">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies enim quis luctus cursus. Praesent libero diam,
            convallis at vestibulum in, consectetur ut ipsum. Cras quis lacus id justo dictum varius. Phasellus vitae tincidunt dolor,
            ultrices dignissim odio. Nam eget orci eget libero faucibus feugiat. Praesent eu erat sed risus vulputate convallis quis quis
            lectus. Mauris sit amet sapien eu magna bibendum auctor. Donec sit amet quam quis felis pharetra suscipit. Quisque consequat
            hendrerit nisi ac semper. Ut ac augue convallis, iaculis nisi quis, varius urna. Aliquam quis nisi pharetra nibh gravida iaculis.
            Praesent a mauris ut orci mattis euismod. Donec porta et ante et tempor. Nunc tellus metus, consectetur eu sollicitudin imperdiet,
            suscipit a massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eros ipsum, interdum
            sed finibus eu, semper ac purus. Curabitur vitae justo at sapien facilisis posuere sed quis quam. Morbi accumsan vulputate commodo.
            Morbi odio turpis, posuere bibendum magna molestie, cursus fringilla lacus. Aliquam commodo lacus ac dapibus lobortis. Nullam fermentum
            ex at lorem mattis vestibulum.
        </p>
    </div>
    <div class="border-b-[1px] border-indigo-800 py-4">
        <h2 class="text-xl ml-4 text-black font-bold">HOW TO USE</h2>
        <p class="text-lg mx-4 w-[95%]">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies enim quis luctus cursus. Praesent libero diam,
            convallis at vestibulum in, consectetur ut ipsum. Cras quis lacus id justo dictum varius. Phasellus vitae tincidunt dolor,
            ultrices dignissim odio. Nam eget orci eget libero faucibus feugiat. Praesent eu erat sed risus vulputate convallis quis quis
            lectus. Mauris sit amet sapien eu magna bibendum auctor. Donec sit amet quam quis felis pharetra suscipit. Quisque consequat
            hendrerit nisi ac semper. Ut ac augue convallis, iaculis nisi quis, varius urna. Aliquam quis nisi pharetra nibh gravida iaculis.
            Praesent a mauris ut orci mattis euismod. Donec porta et ante et tempor. Nunc tellus metus, consectetur eu sollicitudin imperdiet,
            suscipit a massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eros ipsum, interdum
            sed finibus eu, semper ac purus. Curabitur vitae justo at sapien facilisis posuere sed quis quam. Morbi accumsan vulputate commodo.
 
        </p>
    </div>
</div>