@using Learner.Client.Services
@using Learner.Shared.Models
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager
@inject IChatService ChatServices
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <div class="bg-indigo-800  w-72 border-x-[1px] border-gray-100">
            <div class=" py-3 text-white">
                <div class="border-b-2 border-gray-200 px-3 mb-3">
                    <h1 class="font-bold text-xl">Marketing Team</h1>
                    <p class="mb-3">Kieran Reid</p>
                </div>

                <div class="p-3 text-lg">
                    <h2>Channels</h2>
                    <div class="flex flex-column">
                        @foreach (Chat chat in ChatServices.Chats)
                        {
                            <button class="mr-auto" @onclick="(() => GoToChat(chat.Id))"># @chat.Title</button>
                        }
                    </div>
                </div>
                <div class="p-3 text-lg">
                    <h2 py-3>Direct Messages</h2>
                    <p> - Bot</p>
                    <p> - Sam</p>
                </div>

            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="bg-indigo-800  w-72 border-x-[1px] border-gray-100">
            <div class=" py-3 text-white">
                <div class="border-b-2 border-gray-200 px-3 mb-3">
                    <h1 class="font-bold text-xl">Marketing Team</h1>
                    <p class="mb-3"></p>
                </div>
                <div class="text-xl font-bold text-white  mx-3">To join channels, you must be a logged in use</div>

            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

    protected override async Task OnInitializedAsync()
    {
        await ChatServices.GetChats();
    }

    void GoToChat(int id)
    {
        NavigationManager.NavigateTo($"/chat/{id}");
    }
}
