@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout class="flex max-h-[100vh] overflow-x-hidden">
    <MudAppBar>
        <h1 class="text-3xl ml-[45vw] font-bold">        DONT SLACK
            </h1>
    <LoginDisplay/>
    </MudAppBar>
        <NavMenu/>
    <MudMainContent>

        <div class="w-[100vw] h-[97vh] bg-indigo-800">
        @Body
        </div>
    </MudMainContent>
</MudLayout>


@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
